body {
    background-color: #81DE95 ;
    display: flex; /** Para alinhar as coisas (Estudar)*/
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Poppins;

}

footer {
margin-top: 95px;

}

footer p {
    font-size: 20px;
    font-weight: 700px;
    
}